/* App.css */

.main-bg {
  display: flex;
  width: 100%;
  height: 300px;
  padding: 151px 394px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 163px;
  flex-shrink: 0;
  background: #f4fbfd;
  box-sizing: border-box; /* 패딩과 테두리를 width, height에 포함 */
}
